<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS.dao.GuestDAO">
	<select id="getGuestList" resultType="com.spring.springGroupS.vo.GuestVO">
		SELECT * FROM guest ORDER BY idx DESC LIMIT #{startIndexNo}, #{pageSize};
	</select>
	<select id="getNewGuestList" resultType="com.spring.springGroupS.vo.GuestVO">
		SELECT *, 
		(SELECT count(*) FROM guest 
		WHERE concat(year(vDate),'-',month(vDate),'-',day(vDate)) >= concat(year(now()),'-',month(now()),'-',day(now()-7))) AS newCount FROM guest 
		WHERE concat(year(vDate),'-',month(vDate),'-',day(vDate)) >= concat(year(now()),'-',month(now()),'-',day(now()-7)) 
		<if test="flag == null">LIMIT 1</if>;
	</select>
	<select id="getUserSearch" resultType="com.spring.springGroupS.vo.UserVO">
		SELECT * FROM user WHERE mid = #{mid};
	</select>
	<select id="getUser" resultType="com.spring.springGroupS.vo.UserVO">
		SELECT * FROM user WHERE mid = #{mid} LIMIT 1;
	</select>
	<select id="getUserIdxSerach" resultType="com.spring.springGroupS.vo.UserVO">
		SELECT * FROM user WHERE idx = #{idx};
	</select>
	
	<select id="getTotRecCnt" resultType="int">
		SELECT count(idx) FROM guest 
		<if test="flag == 'new'">WHERE concat(year(vDate),'-',month(vDate),'-',day(vDate)) >= concat(year(now()),'-',month(now()),'-',day(now()-7))</if>;
	</select>
	<select id="getMemberGuestCnt" resultType="int">
		SELECT count(*) FROM guest WHERE name = #{mid} or name = #{nickName} or name = #{name};
	</select>
	
	
	
	<insert id="setGuestInput">
		INSERT INTO guest VALUES(DEFAULT, #{vo.name}, #{vo.content}, #{vo.email}, #{vo.homePage}, DEFAULT, #{vo.hostIP});
	</insert>
	
	
	
	<update id="setUserUpdate">
		UPDATE user SET name = #{vo.name}, age = #{vo.age}, address = #{vo.address} WHERE idx = ${vo.idx};
	</update>
	
	
	
	<delete id="setGuestDelete">
		DELETE FROM guest WHERE idx = #{idx};
	</delete>
</mapper>