<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.springGroupS.dao.MemberDAO">

	<select id="getMemberIdFind" resultType="com.spring.springGroupS.vo.MemberVO">
		SELECT * FROM member WHERE email = #{email};
	</select>
	<select id="getMemberIdSerach" resultType="com.spring.springGroupS.vo.MemberVO">
		SELECT * FROM member WHERE mid = #{mid};
	</select>
	<select id="getMemberNickNameSerach" resultType="com.spring.springGroupS.vo.MemberVO">
		SELECT * FROM member WHERE nickName = #{nickName};
	</select>
	<select id="getMemberList" resultType="com.spring.springGroupS.vo.MemberVO">
		SELECT * FROM member <if test="level != 99">WHERE level = #{level}</if> ORDER BY mid LIMIT #{startIndexNo}, #{pageSize};
	</select>
	<select id="getTotRecCnt" resultType="int">
		SELECT count(idx) FROM member;
	</select>
	
	
	
	<insert id="setMemberJoin">
		INSERT INTO member VALUES(DEFAULT,#{vo.mid},#{vo.pwd},#{vo.nickName},#{vo.name},#{vo.email},
			#{vo.gender},#{vo.birthday},#{vo.tel},#{vo.address},#{vo.homePage},#{vo.job},#{vo.hobby},#{vo.photo},
			#{vo.content},#{vo.userInfor},DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT);
	</insert>
	
	
	
	<update id="setMemberTempPwd">
		UPDATE member SET pwd = #{tempPwd} WHERE mid = #{mid};
	</update>
	<update id="setLastDateUpdate">
		UPDATE member SET lastDate = now() WHERE mid = #{mid};
	</update>
	<update id="setPoint">
		UPDATE member SET point = point + #{point} WHERE mid = #{mid};
	</update>
	<update id="setVisitCnt">
		UPDATE member SET visitCnt = visitCnt + #{i} WHERE mid = #{mid};
	</update>
	<update id="setTodayCnt">
		UPDATE member SET todayCnt = todayCnt + #{i} WHERE mid = #{mid};
	</update>
	<update id="setTodayClear">
		UPDATE member SET todayCnt = todayCnt = #{i} WHERE mid = #{mid};
	</update>
	<update id="setMemberLevelUp">
		UPDATE member SET level = level - #{i} WHERE mid = #{mid};
	</update>
	<update id="setmemberUpdate">
		UPDATE member SET nickName = #{vo.nickName}, name = #{vo.name}, email = #{vo.email},
			gender = #{vo.gender}, birthday = #{vo.birthday}, tel = #{vo.tel}, address = #{vo.address}, homePage = #{vo.homePage}, job = #{vo.job},
			hobby = #{vo.hobby}, photo = #{vo.photo}, content = #{vo.content}, userInfor = #{vo.userInfor}
			where mid = #{vo.mid};
	</update>
	<update id="setMemberDelete">
		UPDATE member SET level = 999, userDel = 'OK', lastDate = now() WHERE mid = #{mid};
	</update>
</mapper>