<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS.dao.Study2DAO">
	<select id="getUserList" resultType="com.spring.springGroupS.vo.TransactionVO">
		SELECT * FROM user;
	</select>
	<select id="getTransactionList" resultType="com.spring.springGroupS.vo.TransactionVO">
		SELECT * FROM user;
	</select>
	<select id="getTransactionList2" resultType="com.spring.springGroupS.vo.TransactionVO">
		SELECT * FROM user2;
	</select>
	
	<select id="getLoadCrimeCheck" resultType="com.spring.springGroupS.vo.CrimeVO">
		SELECT * FROM crime WHERE year = #{year};
	</select>
	<select id="getPoliceCheck" resultType="com.spring.springGroupS.vo.CrimeVO">
		SELECT year, police, sum(robbery) AS totRobbery, sum(theft) AS totTheft, sum(murder) AS totMurder, sum(violence) AS totViolence,
			avg(robbery) AS avgRobbery, avg(theft) AS avgTheft, avg(murder) AS avgMurder, avg(violence) AS avgViolence
			FROM crime WHERE year = #{year} AND police LIKE concat(#{police}"%") ORDER BY year, police;
	</select>
	
	<select id="getKakaoAddressList" resultType="com.spring.springGroupS.vo.KakaoAddressVO">
		SELECT * FROM kakaoAddress ORDER BY address;
	</select>
	<select id="getKakaoAddressSearch" resultType="com.spring.springGroupS.vo.KakaoAddressVO">
		SELECT * FROM kakaoAddress WHERE address = #{address};
	</select>
	
	<select id="getQrCodeSearch" resultType="com.spring.springGroupS.vo.QrCodeVO">
		select * from qrCode where qrCodeName = #{qrCode};
	</select>
	
	
	
	<insert id="setValidatorOk">
		INSERT INTO user VALUES(DEFAULT,#{vo.mid},#{vo.name},#{vo.age},#{vo.address});
	</insert>
	<insert id="setTransactionUser1Input">
		INSERT INTO user VALUES(DEFAULT,#{vo.mid},#{vo.name},#{vo.age},#{vo.address});
	</insert>
	<insert id="setTransactionUser2Input">
		INSERT INTO user2 VALUES(#{vo.mid},#{vo.job});
	</insert>
	<insert id="setTransactionUserTotalInput">
		INSERT INTO user VALUES(DEFAULT,#{vo.mid},#{vo.name},#{vo.age},#{vo.address});
		INSERT INTO user2 VALUES(#{vo.mid},#{vo.job});
	</insert>
	
	<insert id="setSaveCrimeCheck">
		INSERT INTO crime VALUES(DEFAULT,#{vo.year},#{vo.police},#{vo.robbery},#{vo.theft},#{vo.murder},#{vo.violence});
	</insert>
	
	<insert id="setKakaoAddressInput">
		INSERT INTO kakaoAddress VALUES(DEFAULT, #{vo.address}, #{vo.latitude}, #{vo.longitude});
	</insert>
	
	<insert id="setQrCodeCreate">
	  insert into qrCode values (default,#{vo.mid},#{vo.name},#{vo.email},#{vo.movieName},#{vo.movieDate},#{vo.movieTime},
	  	#{vo.movieAdult},#{vo.movieChild},#{vo.publishDate},#{vo.qrCodeName});
	</insert>
	
	
	<delete id="setValidatorDeleteOk">
		DELETE FROM user WHERE idx = #{idx};
	</delete>
	
	<delete id="setDeleteCrimeCheck">
		DELETE FROM crime WHERE year = #{year};
	</delete>
	
	<delete id="setKakaoAddressDelete">
		DELETE FROM kakaoAddress WHERE address = #{address};
	</delete>
</mapper>